.pop-up__button_close {
    background-image: url(../../../../images/Close-Icon.png);
    border: none;
    width: 32px;
    background-repeat: no-repeat;
    height: 32px;
    background-color: #0000;
    position: absolute;
    top: -40px;
    right: -40px;
    background-position: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: 0.2s ease;
    opacity: 1;
}
.pop-up__button_close:hover{
    opacity: 0.6;
}
@media screen and (max-width: 767px){
    .pop-up__button_close {
        max-width: 20px;
        max-height: 20px;
        background-image: url(../../../../images/Pop-up_close_mini.svg);
        top: -35px;
        right: 0;
    }
}