.popup__content {
   background-color: #fff;
    width: 430px;
    height: 330px;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
@media screen and (max-width: 767px){
    .popup__content{
        max-width: 282px;
        max-height: 322px;
    }
}