.header {
    max-width: 880px;
    max-height: 74px;
    margin: 0 auto;
    padding-top: 45px;
  
    border-bottom: solid;
    border-color: #545454;
    border-width: 1px;
}

@media screen and (max-width: 767px) {
    .header{
        max-width: 320px;
        max-height: 56px;
        padding-top: 28px;
    }
}
