.popup__input-name {
    border: none;
    padding-bottom: 13px;
    padding-top: 54px;
    outline: none;
    width: 358px;
    height: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    border-bottom: 1px solid gray;
}
@media screen and (max-width: 767px){
    .popup__input-name {
        max-width: 238px;
        max-height: 27px;
       
    }
}