.profile__add-button {
    margin: 0;
    padding: 0;
    background: transparent url(../../../images/AddButton.svg) center no-repeat;
    background-size: contain;
    border: none;
    border-radius: 2px;
    transition: 0.2s ease;
    opacity: 1;
    align-self: center;
    cursor: pointer;
    margin-bottom: 9px;
    justify-self: flex-end;
    margin-left: auto;
    height: 50px;
    width: 150px;
}
.profile__add-button:hover{
    opacity: 0.6;
}
@media screen and (max-width: 767px){
    .profile__add-button {
        margin: 0;
        width: 282px;
        background: transparent url(../../../images/Plus.svg) center no-repeat;
        background-size: 16px;
        border: 2px solid #FFFFFF;
    }
}