.popup__save-button {
    background-color: black;
    margin-top: 61px;
    cursor: pointer;
    width: 358px;
    height: 50px;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    transition: opacity 0.2s linear;
    opacity: 1;
}
    .popup__save-button:hover {
        opacity: 0.6;
    }
@media screen and (max-width: 767px){
    .popup__save-button {
        max-width: 238px;
        max-height: 46px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}