.element {
    margin: 0 auto;
    width: 282px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    max-height: 361px;
    position: relative;

}
@media screen and (max-width: 767px) {
    .element {
        min-height: 361px;
    }
}