.profile__job {
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    line-height: 22px;
    grid-area: discr;
    color: white;
    transition: .7s ease;
    font-family: 'Inter',Arial,Helvetica,sans-serif;
}

@media screen and (max-width: 767px){
    .profile__job {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-bottom: 36px;
        max-width: 282px;
    }
}
@media screen and (min-width: 1023px) {
    .profile__job {
        max-width: 215px;
    }
}
